# Python
__pycache__/
*.py[cod]

# Distribution / packaging
dist/
__about__.py

# Doit
/.doit.db

# Example files
/example*/
/demo*/

# MonkeyType
monkeytype/
monkeytype.sqlite3

# Caches
/.*cache

# venv
venv/
env/
.venv/
.env/

# vim swap files
*.swp
*~