[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pyyaml = "*"
mkdocs-glightbox = "*"
mkdocs-material = "*"
mkdocs = "*"
doit = "*"
identify = "*"
Pillow = "*"
rawpy = "*"
imageio = "*"
pyexiftool = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.12"
