{% if geo_items %}
## {{ map_title }}

<div id="map"></div>

{% endif %}
{% if gallery_items %}

## {{ gallery_title }}

<div class="grid cards gallery-grid" markdown>

{% for item in gallery_items %}
- ![](assets/{{ item.basename }}){ .gallery-image }
  { .gallery-box }

{% endfor %}
<script>
photo_data = {{ geo_items | tojson }};
</script>

</div>
{% endif %}