{% if assets %}
## {{ journal_title }}

{% for asset in assets %}
{% if asset.type == "markdown" %}
--8<-- "docs/assets/{{ asset.path }}"
{% elif asset.type == "audio" %}
--8<-- "docs/assets/{{ asset.path }}.md:1:1"

<div class="audio-section">
<audio controls>
  <source src="assets/{{ asset.path }}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
--8<-- "docs/assets/{{ asset.path }}.md:2"
</div>
{% endif %}
{% endfor %}
{% endif %}