{% if geo_items or gpx_data %}
## {{ map_title }}

<div id="map"></div>
<script>
photo_data = {{ geo_items | tojson }};
gpx_data = {{ gpx_data | tojson }};
</script>

{% endif %}
{% if gallery_items %}

## {{ gallery_title }}

<div class="grid cards gallery-grid" markdown>

{% for item in gallery_items %}
- ![](assets/{{ item.basename }}){ .gallery-image }
  { .gallery-box }

{% endfor %}

</div>
{% endif %}