.gallery-item
    border: .05rem solid var(--md-default-fg-color--lightest)
    border-radius: .1rem
    display: block
    margin: 0
    padding: .8rem
    transition: border .25s, box-shadow .25s

.gallery-item:hover
    border-color: #0000
    box-shadow: var(--md-shadow-z2)

.gallery-box
    width: 200px
    height: 200px
    position: relative

body img.gallery-image
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin: auto
    max-width: 198px
    max-height: 198px

body p.index-grid img.gallery-image
    width: 50px
    height: 50px
    object-fit: cover

body p.index-grid.gallery-box
    width: 50px
    height: 50px
    overflow: hidden


.gallery-box-s
    width: 150px
    height: 150px
    position: relative

.gallery-item.empty
    background-color: #fafafa

body img.gallery-image-s
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin: auto
    max-width: 148px
    max-height: 148px

body div.native-block > pre > code
    font-family: inherit
    white-space: pre-wrap
    background: none
    padding: 0px;
    font-size: .8rem;
    line-height: 1.6;

body div.native-block > pre
    font-family: inherit
    white-space: pre-wrap
    font-size: .8rem;
    line-height: 1.6;

.clear
    clear: left

body .md-typeset .grid.cards > ul > li
    padding: 0px

body .gallery-float-grid
    float: left
    margin-right: .4rem
    margin-bottom: .4rem

body div.gallery-grid.grid
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content))

body div.gallery-grid.grid.index-grid
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content))
    grid-gap: 0px
    border: .05rem solid var(--md-default-fg-color--lightest)

body div.gallery-grid.grid.index-grid li
    border: none


#map
    width: 100%
    height: 500px
    z-index: 0

html
    overflow-y: scroll

.transcript
    text-align: justify

.audio-section audio
    width: 100%

.transcript .segment time
    background-color: var(--md-primary-fg-color--light)
    color: var(--md-primary-bg-color)
    border-radius: .3rem
    padding: 0px 2px
    font-size: 60%
    vertical-align: middle
    line-height: 1

.highlight
    background-color: var(--md-typeset-mark-color)