<script>
highlight_max_rows = 1;
quality_strings = {
    good: {{ strings.quality_good | tojson }},
    bad: {{ strings.quality_bad | tojson }},
    excellent: {{ strings.quality_excellent | tojson }},
    low_entropy: {{ strings.quality_low_entropy | tojson }},
    duplicate: {{ strings.quality_duplicate | tojson }},
    canonical: {{ strings.quality_canonical | tojson }}
};
</script>
{% if geo_items or gpx_data %}
## {{ strings.map_title }} { .hidden }

<div id="highlights" class="startpage" markdown>
{%- for item in highlight_images -%}
![](assets/{{ item.path.name }}){ height="200" width="200" }
{%- endfor -%}
</div>
<div id="map_box"></div>
<div id="map-legend" class="map-legend" markdown> [{{ strings.zoom_to_fit }}](#){ id="showall_link" } {% if gpx_file %}· [{{ strings.download_gpx }}](assets/{{ gpx_file }}){% endif %} |
<span class="text-indigo">▪︎</span> {{ strings.legend_track }} ·
<span class="text-green">▪︎</span> {{ strings.legend_waypoints }} ·
<span class="text-orange">▪︎</span> {{ strings.legend_activity_areas }} ·
<span class="text-purple">▪︎</span> {{ strings.legend_journal_entries }}</div>
<script>
photo_data = {{ geo_items | tojson }};
gpx_data = {{ gpx_data | tojson }};
</script>

{% endif %}
{% if track_statistics %}
## {{ strings.overview_title }}

<table>
<tr>
    <td><b>{{ strings.track_label }}</b></td>
    <td>
        <span title="{{ strings.track_distance }}"><i class="iconoir-dot-arrow-right"></i> {{ track_statistics.distance | format_length }}</span> · 
        <span title="{{ strings.track_elevation_gain }}"><i class="iconoir-arrow-up-right"></i> {{ track_statistics.elevation_gain | format_length }}</span> · 
        <span title="{{ strings.track_elevation_loss }}"><i class="iconoir-arrow-down-right"></i> {{ track_statistics.elevation_loss | format_length }}</span> · 
        <span title="{{ strings.track_time_moving }}"><i class="iconoir-timer"></i> {{ track_statistics.time_moving | format_timespan }}</span>
    </td>
</tr>
</table>

{% endif %}
{% if gallery_items %}

## {{ strings.gallery_title }}

<div id="gallery_controls">
{% if has_duplicates %}
<input type="checkbox" id="include_duplicates">
<label for="include_duplicates">{{ strings.include_duplicates }}</label>
{% endif %}
{% if has_bad_photos %}
<input type="checkbox" id="include_bad_quality">
<label for="include_bad_quality">{{ strings.include_low_quality }}</label>
{% endif %}
<input type="checkbox" id="show_quality_icons">
<label for="show_quality_icons">{{ strings.show_quality_icons }}</label>
</div>

<div id="photo_gallery" markdown>
{%- for item in gallery_items -%}
![](assets/{{ item.path.name }}){ height="200" width="200" data-markers="
{%- if item.quality > 0.85 -%}excellent
{%- elif item.quality > 0.7 -%}good
{%- elif item.quality < 0.1 -%}bad
{%- endif -%}
{%- if item.entropy < 6.5 %} low_entropy{% endif -%}
{%- if item.is_duplicate is true %} duplicate{% endif -%}
{%- if item.is_duplicate is false %} canonical{% endif -%}
" }
{%- endfor -%}
</div>
{% endif %}