# {{ home_title }}

## {{ grid_title }}

<div class="grid cards gallery-grid index-grid" markdown>

{% for item in grid_items %}
- ![](assets/{{ item.name }}){ .gallery-image }
  { .gallery-box .index-grid }

{% endfor %}

</div>

<div class="clear"></div>