# {{ strings.home_title }}

<div id="highlights" class="startpage" markdown>
{%- for item in gallery_images -%}
![](assets/{{ item.path.name }}){ height="200" width="200" }
{%- endfor -%}
</div>
<script>
highlight_max_rows = {{ gallery_rows }};
is_main_page = true;
</script>

<div class="clear"></div>

{%- if with_map -%}

<div id="map_box" class="startpage"></div>
<script>
photo_data = {{ map_images | tojson }};
gpx_data = null;
</script>

{%- endif -%}